<ul class="nav justify-content-center py-3">
  <li class="nav-item">
    <h2>KATEGORIE</h2>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">3</label>
    </div>
  </li>
  <li class="nav-item">
    <h2>FARBEN</h2>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">R</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">G</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">B</label>
    </div>
  </li>
  <li class="nav-item">
    <h2>SORTIEREN</h2>
    <select class="form-select" aria-label="Default select example">
      <option selected>-</option>
      <option value="1">Preis aufsteigend</option>
      <option value="2">Preis absteigend</option>
    </select>
  </li>
</ul>
