<filters></filters>
<div class="container-fluid">
  <div class="row justify-content-center d-flex">
    <div class="col"></div>
    <div class="col-10">
      <div class="row">
        @if (productService.products().length > 0) {
          @for (item of productService.products(); track item.id) {
            <div class="justify-content-center d-flex col-lg-4 col mb-3">
              <product-card [product]="item"></product-card>
            </div>
          }
        } @else {
        <p class="text-center">Keine Produkte gefunden.</p>
        }
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<cart></cart>
