@if (cartService.cart().length > 0) {
    <div class="sticky-bottom cart">
      <hr class="line m-1">


      <div class="d-flex row justify-content-between align-items-center ms-4 me-3">
        <h2 class="col-4 p-0 m-0">WARENKORB</h2>
        <button type="button" class="cartButton col-md col-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-arrow-bar-up"></i>
        </button>
        <div class="col-md-4"></div>
      </div>


      <div class="row ms-3 me-3">

        <div class="col-8">
          @for (item of topCartItems; track $index) {
            <p class="mb-1"> {{ item.product.name }} × {{ item.count }}</p>
          }
        </div>

        <div class="col-4 text-end">
          <h4>Summe</h4>
          <p class="fw-bold"> {{ cartService.totalPrice() | number:'1.2-2' }} €</p>
        </div>
      </div>
    </div>
  }


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2>WARENKORB</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Produkt</th>
            <th scope="col">Anzahl</th>
            <th scope="col">Preis</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
            @if (cartService.cart().length > 0) {
              @for (item of cartService.cart(); track $index) {
                <tr>
                  <td class="d-none d-md-table-cell">
                    <img
                    [src]="productService.getProductImage(item.product.picture)"
                    class="product-image-cart ms-5 d-md-block"
                    alt="productImage"
                  /></td>
                  <th scope="row">{{ item.product.name }}</th>
                  <td>
                    <input
                      type="number"
                      name="quantity-{{item.id}}"
                      min="1"
                      max="{{item.product.inventory}}"
                      [(ngModel)]="item.count"
                      class="form-control"
                      (blur)="updateItemCount(item, $event)"
                    />
                  </td>
                  <td>{{ (item.count * item.product.price) | number:'1.2-2' }}€</td>
                  <td>
                    <button type="button" class="btn" (click)="removeFromCart(item.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
        <h2 class="text-end me-5 mt-5 ">Summe: {{ cartService.totalPrice() | number:'1.2-2' }} €</h2>
      </div>
    </div>
  </div>
</div>
